In [2]:
a = 1
id(a)

93860089439264

In [5]:

b = 'abc'

id(b)

139625425158416

In [6]:
print( a is b)

False

In [15]:
a = 1
b = 'av'

print(a is b)

False

In [16]:
a = 12
type(a)

int

In [20]:
a = 12
b = a
a = a + 1
id(a) == id(12)

False

In [21]:
#string to interger
a = '1234'
b = int(a)
print(b)

1234

In [22]:
#to float 
a = 1234
b = float(a)
print(b)

1234.0

In [25]:
# from character to interger
a = '1'
b = ord(a)
print(b)

49

In [27]:
#to hexa decimal
a = 10
b = hex(a)
b

'0xa'

In [28]:
#to octal decimal string
a = 10
b = oct(a)
b

'0o12'

In [30]:
a = 'jahanzeb'
b = set(a)
b

{'a', 'b', 'e', 'h', 'j', 'n', 'z'}

In [31]:
a = 'jahanzeb'
b = tuple(a)
b

('j', 'a', 'h', 'a', 'n', 'z', 'e', 'b')

#convert tup into dict
tup = (('a',1), ('b',2), ('c',3))

c = dict(tup)
c

In [34]:
a = 1
b = 3

c = complex(a,b)
c

(1+3j)

In [38]:
c.__hash__

In [40]:
 hash(tup)

-3296350699436393170

In [41]:
dir(c)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 'conjugate',
 'imag',
 'real']

In [50]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)

print(list(y))

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [51]:
# yield function

lst = ['a', 'b', 'c', 'd']

for x in lst:
    print(x)

a
b
c
d

In [65]:
dct = {
    'name': 'Jahanzeb',
    'rollno': 'F-15021',
    'class': 'BSSE'
}

print(dct)
x = dct['name']

y = dct.get('name')
y

{'name': 'Jahanzeb', 'rollno': 'F-15021', 'class': 'BSSE'}

'Jahanzeb'

In [70]:
for key in dct.keys():
    print(key)

name
rollno
class

In [73]:
dct = {
    'name': 'Jahanzeb',
    'rollno': 'F-15021',
    'class': 'BSSE'
}
print(dct)

{'name': 'Jahanzeb', 'rollno': 'F-15021', 'class': 'BSSE'}

In [72]:
for k,v in zip(dct.keys(), dct.values()):
    print(k,v)

name 1
rollno 1
class 1

In [74]:
ndct = dct.copy()
print(ndct)

{'name': 'Jahanzeb', 'rollno': 'F-15021', 'class': 'BSSE'}

In [76]:
for i,k in enumerate(dct, start=1):
    print(i,k)

1 name
2 rollno
3 class