In [58]:
lst = ['Apple', 'banana', 'cherry', 'mango']
print(lst)

['Apple', 'banana', 'cherry', 'mango']

In [59]:
#to access list items,
#use index number to get the required data from list 

print(lst)
print(lst[1])

['Apple', 'banana', 'cherry', 'mango']
banana

In [60]:
#to access last item 

print(lst[-1])

mango

In [35]:
#range of indexes, specify start and end index

print(lst[1:3])
print(lst[:-1])
print(lst[-3:-1])

['banana', 'cherry']
['Apple', 'banana', 'cherry']
['banana', 'cherry']

In [36]:
tlst = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(tlst[-4:-1])

['orange', 'kiwi', 'melon']

In [29]:
# lst[] = 'PineApple'

In [37]:
print(lst)

['Apple', 'banana', 'cherry', 'mango']

In [38]:
for x in lst:
    print(x)

Apple
banana
cherry
mango

In [39]:
print(len(lst))

4

In [40]:
lst.append("Blue Berry")

In [41]:
print(lst)

['Apple', 'banana', 'cherry', 'mango', 'Blue Berry']

In [42]:
lst.insert(6, 'peach')

In [43]:
lst

['Apple', 'banana', 'cherry', 'mango', 'Blue Berry', 'peach']

In [45]:
lst.remove('peach')

In [46]:
lst

['Apple', 'banana', 'cherry', 'mango', 'Blue Berry']

In [48]:
lst.insert(6, 'peach')
lst

['Apple', 'banana', 'cherry', 'mango', 'Blue Berry', 'peach', 'peach']

In [49]:
lst.pop()

'peach'

In [50]:
lst

['Apple', 'banana', 'cherry', 'mango', 'Blue Berry', 'peach']

In [51]:
del lst[5]

In [64]:
lst

['Apple', 'banana', 'cherry', 'mango']

In [63]:
# lst.clear()
lst

['Apple', 'banana', 'cherry', 'mango']

In [62]:
lst

['Apple', 'banana', 'cherry', 'mango']

In [67]:
lst2 = [1,2,3,4]
lst2

[1, 2, 3, 4]

In [70]:
lst3 = lst + lst2
lst3

['Apple', 'banana', 'cherry', 'mango', 1, 2, 3, 4]

In [71]:
lst3

['Apple', 'banana', 'cherry', 'mango', 1, 2, 3, 4]

In [72]:
lst.extend(lst2)

In [73]:
lst

['Apple', 'banana', 'cherry', 'mango', 1, 2, 3, 4]

In [76]:
lsta = list(("Apple"))

In [77]:
lsta

['A', 'p', 'p', 'l', 'e']

In [80]:
x = lst.count('apple')

In [81]:
x

0

In [82]:
lst.reverse()

In [83]:
lst

[4, 3, 2, 1, 'mango', 'cherry', 'banana', 'Apple']

In [88]:
lst.sort(reverse = False)

TypeError: '<' not supported between instances of 'str' and 'int'