#### Question One

In [3]:
poem = """
Twinkle, twinkle, little star,
	How I wonder what you are! 
		Up above the world so high,   		
		Like a diamond in the sky. 
Twinkle, twinkle, little star, 
	How I wonder what you are
"""

print(poem)

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

#### Question Two

In [12]:
#to check python version
import sys
print(sys.version)
print(sys.executable)
print(sys.version_info)

3.7.3 (default, Mar 27 2019, 22:11:17)
[GCC 7.3.0]
/home/jk/anaconda3/bin/python
sys.version_info(major=3, minor=7, micro=3, releaselevel='final', serial=0)

#### Question Three

In [17]:
#Print Date Time
import datetime
print('Current Date Time : ')
date= datetime.datetime.now()
print(date)

Current Date Time :
2019-09-29 00:19:49.248877

#### Question Four

In [1]:
#Get User Name and Last Name and print it into reverse order

first_name = str(input('Enter First Name : ')) 
last_name = str(input('Enter Last Name : '))

print('Name in reverse order : ', last_name, first_name)

Enter First Name : Jahanzeb
Enter Last Name : Nawaz
Name in reverse order :  Nawaz Jahanzeb

#### Question Five

In [6]:
# enter radius of circle and calculate area

from math import pi

radius = float(input('Enter raidus of circle : '))

rs = pi* radius**2

print("The area of the circle with radius ", rs)

Enter raidus of circle : 1.1
The area of the circle with radius  3.8013271108436504

#### Question Six

In [7]:
#Enter comma-separated numbers and convert them into list and tuple

no = input("Enter comma-seperated numbers ")
split = no.split(',')
lst = list(split)
tup = tuple(split)

print(lst)
print(tup)

Enter comma-seperated numbers 3, 5, 7, 23
['3', ' 5', ' 7', ' 23']
('3', ' 5', ' 7', ' 23')

#### Question Seven

In [10]:
#Write a Python to find local IP addresses using Python's stdlib

import socket

socket.gethostbyname(socket.gethostname())

'127.0.1.1'

#### Question Eight

In [13]:
#program to empty a variable

# Sample data: n=20
# d = {"x":200}
# Expected Output : 0
# {}

n = 20
print(type(n)())

d = {"x":200}
print(type(d)())

0
{}

#### Question Nine

In [38]:
import os, sys

print('OS Name :', os.name)
print('Platform name : ' , sys.platform)
print('Os Details : ', os.uname())

OS Name : posix
Platform name :  linux
Os Details :  posix.uname_result(sysname='Linux', nodename='jk-root', release='5.0.0-13-generic', version='#14-Ubuntu SMP Mon Apr 15 14:59:14 UTC 2019', machine='x86_64')

#### Question Ten

In [39]:
no = [386,462,47,418,904,344,236,375,823,566,597,978,328,615,953,345,399,162,
          758,219,918,237,412,566,826,248,866,950,626,949,687,217,815,67,104,58,
          512,24,892,894,767,553,81,379,843,831,445,742,717,958,743,527]
for n in no:
    if n%2==0:
        print (n)
    elif n == 237:
            break

386
462
418
904
344
236
566
978
328
162
758
918