In [1]:
tpl = ('Apple', 'Banana', 'Mango', 'Pine Apple')
tpl

('Apple', 'Banana', 'Mango', 'Pine Apple')

In [2]:
print(tpl[1])

Banana

In [3]:
print(tpl[:2])

('Apple', 'Banana')

In [4]:
tpl2 = 'add'

In [5]:
tpl

('Apple', 'Banana', 'Mango', 'Pine Apple')

In [6]:
lst = list(tpl)

In [11]:
lst[3] = 'Cherry'
print(len(lst))

4

In [9]:
lst

['Apple', 'Banana', 'Mango', 'Cherry']

In [12]:
tpl = tuple(lst)

In [13]:
tpl

('Apple', 'Banana', 'Mango', 'Cherry')

In [14]:
print(type(tpl))

<class 'tuple'>